<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Rudy François</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/experience">Work Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contact" >Contact Me (You won't be disappointed)</a>
          </li>
      </ul>
    </div>
  </nav>