<div class="container">
    <div class="row">
        <h2 class="content-title background-title">BACKGROUND</h2>
    </div>
    <div class="row">
        <p class="content-block background-content">After my Bachelor degree in Accounting, I turned myself into IT. 
            I completed an IT developer Technician degree and did a professional training within the company Nestlé.
            To enhance my professional experience, I started to work as an IT Technician for Disneyland Paris (France). 
            Then I have moved to Toronto where I am working as a Quality Engineer Analyst at TD Bank Group. 
            Because of my pas   sion towards development, even though I didn't have a full time developer role, I worked for 3 month in overtime within a development team at TD on Angular and this experience confirmed my career goal. 
            To keep my skills up to date I continue to learn Angular in my spare time following Udemy Courses. And I am building website for my personal need.
        </p>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h2 class="content-title">EXPERIENCE</h2>
            <ul class="fa-ul">
            <li *ngFor="let experience of experiences">
                <div class="role-title">
                    <h4>
                        {{experience.role}}
                        <img [src]="experience.logo" class ="company-branding" [alt]="experience.company">
                    </h4>
                </div>
                <div class="role-subtitle">
                    <p>{{experience.company}} - {{experience.date}} - {{experience.city}} - {{experience.country}}</p>
                </div>
                <div class="task">                     
                </div>            
            </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h2 class="content-title">SKILLS</h2>
            <h3>Software</h3>
            <li *ngFor="let skill of skills">
                <span>{{skill.name}} :  </span>
                <ngb-rating [rate]="skill.rate" [max]="5" [readonly]="readonly" >
                    <ng-template let-fill="fill" let-index="index">
                      <span class="star" [class.filled]="fill === 100">&#9733;</span>
                    </ng-template>
                  </ngb-rating>
            <hr>
            </li>
            <h3>Accessibility</h3>
            <h3>Web Development</h3>
            <h3>Languages</h3>
        </div>
    </div>
</div>