.star {
    color: red;
}

//to add space between header and body
.experience-heading {
    padding-top: 50px;
}

.company-branding {
  text-align: right;
  width: 18%;

}

.star {
    font-size: 1.5rem;
    color: #b0c4de;
  }
  .filled {
    color: #FFB400;
  }


.background-title {
  margin-left: auto;
  margin-right: auto;
}

.background-content {
  margin-left: auto;
  margin-right: auto;
}