@import '@angular/material/prebuilt-themes/indigo-pink.css';


a {
  transition: 0s;
}

a:hover {
  color: #000000;
  text-decoration: none;
  transition: color 0s;
}

a:focus {
  outline: none;
}

.container-block {
  margin-bottom: 80px;
}

.content-title {
  font-family: inherit;
  font-family: 'Shadows Into Light', cursive;
  margin: 0px auto;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(78, 78, 78, 0.6);
}

.content-title-bottom-border {
  border-bottom: 5px solid #000000;
  box-shadow: 2px 2px 10px rgba(78, 78, 78, 0.6);
  margin: 10px auto 40px auto;
  width: 80px;
}

.content-block {
  box-shadow: 2px 2px 10px #4e4e4e;
  margin: 70px auto;
  padding: 40px 20px;
  width: 70%;
  max-width: 800px;
}

.center {
  text-align: center;
}   

/* responsive styles */
@media screen and (max-width: 700px) {
  .content-block {
    width: 95%;
  }
}

/* fade in */

.fast-fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.medium-fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

.slow-fade-in {
  animation: fadeIn ease 7s;
  -webkit-animation: fadeIn ease 7s;
  -moz-animation: fadeIn ease 7s;
  -o-animation: fadeIn ease 7s;
  -ms-animation: fadeIn ease 7s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
