h1 {
    text-align: center;
    padding-top: 50px;
    }



#mypics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 30%;
}

.profile-image-block {
    border-radius: 200px;
    box-shadow: 2px 2px 10px #4e4e4e;
    min-height: 350px;
    margin: 20px auto;
    width: 350px;
  }
  
  .home-image {
    background-image: url('../../assets/images/Rudy.jpeg');
    background-position: 100% 100%;
    background-size: 120%;
  }
  
  /* responsive styles */
  @media screen and (max-width: 500px) {
    .profile-image-block {
      border-radius: 0px;
    }
  }