<div class="container">
    <img id="mypics" class="profile-image-block fast-fade-in home-image" src="assets/images/Rudy.jpeg"> 
    <h1 class="content-title">Welcome to Rudy François<br>Portfolio</h1>
</div>
